---
import SanityImage from '../../components/SanityImage.astro';
import { locales } from '../../i18n/ui';
import MainLayout from '../../layouts/MainLayout.astro';
import client from '../../lib/sanity/client';
import queries from '../../lib/sanity/queries';
import { state } from '../../lib/store';
import type { SiteConfigsType } from '../../lib/types/siteConfigs.types';

// import type {SiteConfigsType} from '@/lib/types/siteConfigs.types'
// import client from '@/lib/sanity/client'
// import {locales} from '@/i18n/ui'

// import queries from '@/lib/sanity/queries'
// import MainLayout from '@/layouts/MainLayout.astro'
// import SanityImage from '@/components/SanityImage.astro'

export async function getStaticPaths() {
  // Map each locale to its corresponding path format
  return locales.map((locale) => ({params: {locale}}))
}

// import {state} from '@/lib/store'

const siteConfigsData: SiteConfigsType[] = await client.fetch(queries.siteConfigs),
  {overview, poster, title} = siteConfigsData[0]

state.set({data: siteConfigsData[0]})
---

<MainLayout title={title} description={overview}>
  <section class='bg-doted mx-6 flex gap-4 border-l-4 border-current p-4 max-md:flex-col md:mx-12'>
    <div class='w-full'>
      <SanityImage
        className='mask mask-squircle'
        loading={'eager'}
        height={300}
        sanitySrc={poster}
        width={400}
        alt={title}
      />
    </div>
    <div class='w-full'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam debitis impedit adipisci.
    </div>
  </section>
</MainLayout>
