---
import SanityImage from '../../components/SanityImage.astro'
import {locales} from '../../i18n/ui'
import MainLayout from '../../layouts/MainLayout.astro'
import client from '../../lib/sanity/client'
import queries from '../../lib/sanity/queries'
import {state} from '../../lib/store'
import type {SiteConfigsType} from '../../lib/types/siteConfigs.types'

export async function getStaticPaths() {
  // Map each locale to its corresponding path format
  return locales.map((locale) => ({params: {locale}}))
}

const siteConfigsData: SiteConfigsType[] = await client.fetch(queries.siteConfigs),
  {overview, poster, title} = siteConfigsData[0]

state.set({data: siteConfigsData[0]})
---

<MainLayout title={title} description={overview}>
  <section
    class='bg-doted mx-6 flex items-center gap-4 border-l-4 border-current p-4 max-md:flex-col md:mx-12'
  >
    <div class='w-full flex justify-center items-center'>
      <SanityImage
        className='mask mask-squircle ml-8'
        loading={'eager'}
        height={300}
        sanitySrc={poster}
        width={400}
        alt={title}
      />
    </div>
    <div class="w-full">
      <span class="bg-gradient-to-r from-fuchsia-600 to-pink-600 bg-clip-text text-sm font-bold uppercase text-transparent">from pakistan</span>
      <div class="my-4 flex items-start text-4xl font-semibold capitalize">
        <span class="">!Hy 👋 I am </span>
        <div class="flex flex-col items-center">
          <span class="mx-2 uppercase">ehsan shahid</span>
          <span class="mt-2 h-[.15rem] w-60 rounded-full bg-gradient-to-r from-blue-300 to-yellow-300"></span>
        </div>
      </div>
      <p class="text-base">
        Building Digital Experiences, One Line of Code <br />
        at a Time.
      </p>
      <div class="flex w-full my-4">
        <button class="btn bg-gradient-to-r from-blue-500 to-pink-600 capitalize text-white">Let's Connect</button>
      </div>
    </div>
  </section>
</MainLayout>
