---
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import Header from '../../../components/Header.astro';
import { locales } from '../../../i18n/ui';
import { state } from '../../../lib/store';

export async function getStaticPaths() {
  // Map each locale to its corresponding path format
  return locales.map((locale) => ({params: {locale}}))
}
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={state.get().data?.title!} description={state.get().data?.overview!} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          <!-- {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img width={720} height={360} src={post.data.heroImage} alt='' />
                  <h4 class='title'>{post.data.title}</h4>
                  <p class='date'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          } -->
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
